.slider
{
    position: relative;
    background-image: url(https://www.w3schools.com/w3images/chicago.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 46px;
    padding-top: 50%;
}
.slider .img__text
{
    position: absolute;
    text-align: center;
    color: white;
    bottom: 48px;
    font-weight: 500;
    width: 100%;
}
.slider .img__title
{
    font-size: 24px;
    margin-bottom: 25px;
}
.slider .img__des
{
    font-size: 15px;
}